
<!-- ============================ Footer =========================== -->

<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">赞赏</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align: center;">
                    <div class="col-xs-6">
                        <img class="if-weixin" src="http://汪素云.我爱你/img/weixin-pay.png" alt="微信支付">
                    </div>
                    <div class="col-xs-6">
                        <img class="if-zhifubao" src="http://汪素云.我爱你/img/zhifubao-pay.png" alt="支付宝支付">
                    </div>
                    <div class="col-xs-6">
                        <h3>微信支付</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3>支付宝支付</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<footer>
    <div class="container">
            <div class="copy">
                <p>
                    &copy;2017<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, Content By <%- config.author %>. All Rights Reserved.s
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    <!--<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>-->
    <div style="display: none;">
        <script src="https://s5.cnzz.com/z_stat.php?id=1275611334&web_id=1275611334" language="JavaScript"></script>
    </div>
</footer>

<!-- ============================ END Footer =========================== -->