<div id="comment" class="comments-area">
    <h4 class="title"><a href="#disqus_comments" name="disqus_comments">Comments</a></h4>
    <% if(config.disqus_shortname) { %>
    <div id="disqus_thread">
        <script id="dsq-count-scr" src="//huliuliu.disqus.com/count.js" async></script>
    </div>
    <% } %>
</div>
